:root {
    --dark-grey: #343a40;
    --light: #f8f9fa;
    --orange: #fd7e15;
}

/* Choisir deux police */
/* Créer un logo */
/* intégré des smily en unicode */

/* GENERAL */

/* CONTAINER */

.container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

/* HEADER */

header {
    color : var(--dark-grey);
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
}

.btn {
    color: var(--dark-grey);
    text-decoration: none;
    margin-right: .2em;
    padding: .5em;
}

.btn:hover,
.btn:focus {
    color: var(--orange);
}


/* MESSAGERIE */

.messagerie {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar {
    margin-bottom: 1em;
}

/* TOUIT-LIST */

.touit-list > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 1px 10px 10px var(--light) ;
    border-radius: 2%;
    padding: .4em;
    margin-bottom: 1em;
}

.remove-touit {
    padding: .3em;
    border-radius: 50%;
    background-color: var(--orange);
    border: none;
}

.remove-touit:hover,
.remove-touit:focus {
    background-color: var(--dark-grey);
    transition: .3s;
    cursor: pointer;
}

/* TOUIT */

.touit {
    display: grid;
}


/* FORM */

.sumbit-touit {
    text-align: center;
} 

.submit-touit button {
    border: none;
    padding: .5rem;
    background-color: var(--orange);
    color: var(--light);
    border-radius: 10%;
}

.submit-touit button:hover,
.submit-touit button:focus {
    background-color: var(--dark-grey);
    color: var(--light);
    padding: .55rem;
    transition: 150ms;
} 